* text=auto

# Auto detect text files and normalize line endings to LF
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.py text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pkl binary
*.pickle binary
*.joblib binary
*.pth binary

# Declare files that will always have CRLF line endings on checkout
*.batch text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
